server:
  port: 6060
  
  
spring:
  application:
    name: api-gateway

zuul:
  host:
    socket-timeout-millis: 2000000
  ribbon:
     eager-load:
      enabled: true
      
  routes:
    customer-service:
       path: /customer-service/**
       url: http://localhost:3535/       
    api:     
      path: /api/**
      service-id: payment-service
      sensitiveHeaders:
      strip-prefix: false
      url: http://localhost:4040/
    
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka      

management:
  endpoints:
    web:
      exposure:
        include:
        - "*"
