<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Driver</title>
</head>
<body>


<form action="#" th:action="drivers" th:object="${command}" method="post"> 
<div>
 <label>Driver Id</label>
<input type="text" th:field="*{driverId}" />

</div>
<div>
 <label>Driver Name</label>
<input type="text" th:field="*{driverName}" />

<span th:if="${#fields.hasErrors('driverName')}" 
                        th:errors="*{driverName}"></span>

</div>

<div>
 <label>Mobile Number</label>
<input type="text" th:field="*{mobileNumber}" />

</div>

<div>
<label>Location</label>

<select  th:field="${command.location}">
       <option th:each="eachlocation : ${locationList}" 
           th:value="${eachlocation}" th:text="${eachlocation}"></option>
</select>
</div>
<div>
 <label>Address Line1</label>
<input type="text" th:field="*{address.addressLine1}" />
<label>Address Line2</label>
<input type="text" th:field="*{address.addressLine2}" />
<label>City</label>
<input type="text" th:field="*{address.city}" />

<label>Pincode</label>
<input type="text" th:field="*{address.pinCode}" />

</div>
 <div>
 <input type="submit" value="Add">
 <input type="reset" value="clear">
 
</div>
</form>
</body>
</html>