<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<h2>Following Details Submitted</h2>
<table>
<tr>
 <th>Driver Id</th>
  <th>Driver Name</th>
   <th>Mobile Number</th>
    <th>Location</th>
     <th>Address</th>
</tr>
<tr>
<td th:text="${command.driverId}"></td>
<td th:text="${command.driverName}"></td>
<td th:text="${command.mobileNumber}"></td>
<td th:text="${command.location}"></td>
<td th:text="${command.address}"></td>
</tr>
</table>






</body>
</html>